<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties>
        <property name="dialect" value="mysql" />
    </properties>

    <settings>
        <!--映射下划线风格到驼峰风格-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
            <!-- 打印查询语句 -->
            <setting name="logImpl" value="LOG4J" />
        <!--     打印SQL只需要加一个setting就可以了。
         mybatis的日志打印方式比较多，SLF4J | LOG4J | LOG4J2 | JDK_LOGGING |
          COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING，可以根据自己的需要进行配置 -->
    </settings>


</configuration>